blinker==1.9.0
click==8.2.1
et_xmlfile==2.0.0
Flask==3.1.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-MySQL==1.6.0
Flask-MySQLdb==2.0.0
gunicorn==21.2.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
MarkupSafe==3.0.2
mysql-connector-python==9.3.0
mysqlclient==2.2.7
narwhals==2.22.1
numpy==2.3.1
openpyxl==3.1.5
packaging==25.0
pandas==2.3.1
plotly==6.2.0
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
requests==2.31.0
scikit-learn==1.9.0
scipy==1.17.1
six==1.17.0
threadpoolctl==3.6.0
tzdata==2025.2
Werkzeug==3.1.3
